@media (max-width: 992px) {
    .header {
        display: none;
    }
    .nav__responsive {
        display: flex;
        z-index: 2000;
    }
    .img-bg {
        display: none;
    }
    .nav__item {
        font-size: 14px;
    }
    #main {
        top: 0px;
        height: 50vh;
        justify-content: center;
        gap: 20px;
        margin-bottom: unset;
    }
    .main__info {
        width: 80%;
    }
    main i {
        font-size: 15px;
        padding-bottom: unset;
    }
    .main__info__h1 {
        font-size: 40px;
        padding-top: 50px;
    }
    #about-us {
        margin-top: unset;
    }
    .about-us {
        width: 90%;
    }
    .about-us h3 {
        display: none;
    }
    .productos__h3 {
        font-size: 35px;
    }
    .card-zapas__contenedor {
        width: 100%;
    }
    .packs__contenedor {
        background: var(--gris-osc);
        flex-direction: column;
        width: 100%;
        padding: 20px 40px;
    }
    .medio {
        background-color: var(--bg);
    }
    .packs__contenedor-info {
        width: 85%;
        background-color: var(--gris-osc);
    }
    .packs__contenedor-imgs {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .packs__contenedor-h4 {
        font-size: 25px;
        color: var(--beish);
    }
    .packs__contenedor-ul {
        display: flex;
        flex-direction: column;
        gap: 4px;
        color: #fff;
    }
    .p-c-img2 {
        order: 2;
    }
    .p-c-info2 {
        order: 1;
        background: var(--bg);
    }
    #contacto {
        flex-direction: column;
        gap: 0;
        background-color: var(--hueso);
        padding-bottom: 30px;
    }
    .contenedor__contacto-info {
        width: 100%;
        text-align: center;
    }
    .contacto-info__p {
        width: 100%;
    }
    .contacto-form {
        width: 70%;
    }
    .contacto-form-contenedor {
        width: 80%;
    }
    .contacto-form-contenedor input {
        border: 2px solid var(--gris-osc);
        color: #000;
    }
    .contacto-form-contenedor textarea {
        border: 2px solid var(--gris-osc);
        color: #000;
    }
    .contacto-form-contenedor input:last-child {
        align-self: right;
    }
}

@media (max-width: 576px) {
    #main {
        top: 0;
        height: calc(100vh - 90px);
        justify-content: space-around;
    }
    .main__info__h1 {
        padding-top: 40px;
        font-size: 40px;
    }
    .about-us {
        flex-direction: column;
        justify-content: space-evenly;
        gap: 0;
    }
    .about-us p {
        width: 100%;
        text-align: center;
    }
    .us__redes {
        flex-direction: row;
        gap: 5px;
    }
    #productos {
        display: none;
    }
    .card-zapas__contenedor {
        grid-template-columns: 1fr 1fr;
        padding: 10px;
    }
    .card-zapas {
        min-height: unset;
    }
    .card-zapas__img {
        max-width: 90%;
    }
    .card-zapas__btn {
        width: 95%;
    }

    /* PACKS */

    #packs {
        background-color: var(--bg);
        gap: 10px;
    }
    .packs__titulo {
        color: var(--beish);
    }
    .packs__contenedor {
        width: 100%;
        gap: 0;
        background-color: var(--hueso);
    }
    .packs__contenedor-info {
        width: 100%;
        gap: 15px;
    }
    .packs__contenedor-h4 {
        font-size: 25px;
    }
    .packs__contenedor-imgs {
        display: none;
    }
    .packs__contenedor-img-responsive {
        display: block;
    }
    .img-r {
        order: 3;
    }
    .packs__img {
        max-width: 130px;
        width: 100px;
        column-gap: unset;
    }

    /* CONTACTO */
    .contenedor__contacto-info {
        text-align: left;
    }
    .contacto-form-contenedor {
        align-items: center;
    }
    .contacto-form-contenedor input {
        border: 2px solid var(--gris-osc);
        color: #000;
    }
    .contacto-form-contenedor textarea {
        border: 2px solid var(--gris-osc);
        color: #000;
    }
    .footer__ul {
        flex-direction: column;
        gap: 5px;
        margin-bottom: 8px;
    }
} 