@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --bg: #0F1011;
    --bg2: rgba(27, 28, 30, .9); 
    --hueso: #F1F1CF;
    --hueso-osc: #e6e6a8;
    --perla: #E3E5D2;
    --beish: #E8EEAF;
    --gris-osc: #1f1f1f;
    /* los que no creo usar  */
    --naranja: #ffc300;
    --naranja-osc: #FF5733;
    --rojizo: #CB1D1D;
    --bordo: #C70039;
    --azul: #0734F5;
    --celeste: #076FF5;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--bg);
}

/* img-fondo */

.img-bg {
    position: fixed;
    width: 100%;
}

/* ----------------------------------------------- HEADER */

header {
    position: relative;
    z-index: 1000;
    background-color: #000;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    font-weight: 400;
}

.header__item1 {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}

.header__item1-img {
    width: 100px;
    box-shadow: 0 0 30px #000;
}

.header__item1-icons {
    display: flex;
    width: 250px;
    height: 40px;
    justify-content: space-around;
    align-items: center;
}

header i {
    font-size: 18px;
    color: var(--hueso-osc);
    cursor: pointer;
}

.header__item1-log a {
    color: var(--hueso-osc);
}

.header__item1-log a:nth-child(2) {
    background-color: var(--bg2);
    color: var(--hueso);
    padding: 7px;
    border-radius: 5px;
    margin: 5px;
}


/* ----------------------------------------------- NAV */
.nav {
    position: relative;
    z-index: 1200;
    background-color: var(--hueso-osc);
    position: sticky;
    top: 0;
}

.nav__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.nav__list-item {
    color: #000;
    font-size: 20px;
    font-weight: 400;
}

/* estilar a */

/* ----------------------------------------------- MAIN */

#main {
    position: relative;
    z-index: 100;
    max-width: 1400px;
    width: 100%;
    height: 80vh;
    background-color: var(--bg);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.info_contenedor {
    height: 100%;
}

.main__info {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.main__info__h1 {
    padding-top: 130px;
    font-size: 60px;
    color: #fff;
}

.main__info__h1 span {
    color: var(--beish);
    font-weight: 900;
    font-style: italic;
}

.main__info__p {
    color: var(--beish);
    font-weight: 100;
}

main i {
    font-size: 35px;
    padding-bottom: 10px;
    color: var(--beish);
}

/* ----------------------------------------------- MAIN */

/* ----------------------------------------------- ABOUT US */

#about-us {
    position: relative;
    z-index: 100;
    max-width: 1400px;
    width: 100%;
    background-color: var(--bg);
    height: 40vh;
    margin: auto;  
    margin-top: 100vh;
}

.about-us {
    margin: auto;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.about-us h3 {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -3px;
    color: var(--hueso-osc);
}

.about-us p {
    font-size: 17px;
    color: #fff;
    font-weight: 300;
}

.about-us p span {
    color: var(--naranja-osc);
    font-weight: 300;
    font-style: italic;
}

.us__redes {
    display: flex;
    flex-direction: column;
}

.us__redes i {
    font-size: 25px;
    color: var(--hueso);
}

/* ----------------------------------------------- ABOUT US */

/* ----------------------------------------------- PRODUCTOS */

#productos {
    position: relative;
    z-index: 100;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    justify-content: space-evenly;
    background: var(--bg);
}

.productos__h3 {
    color: var(--beish);
    font-size: 44px;
    font-weight: 400;
    letter-spacing: 3px;
}

.productos__contenedor {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;

}

.productos__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productos__item__img {
    width: 90%;
    overflow: hidden;
    height: 80%;
    background-size: cover;
    object-fit: cover;
}

.productos__item__h4 {
    text-align: center;
    width: 100px;
    background-color: rgba(0, 0, 0, .75);
    position: absolute;
    padding: 0 10px;
    font-style: italic;
    font-size: 100%;
    font-weight: 400;
    color: var(--beish);
}



/* ----------------------------------------------- PRODUCTOS */

/* ----------------------------------------------- CLÁSICOS */

#clasicos {
    position: relative;
    z-index: 100;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1400px;
    gap: 10px;
    height: 100%;
    background: var(--bg);
    margin: auto;
}

.clasicos__titulo {
    margin-top: 20px;
    font-size: 40px;
    color: var(--hueso);
    font-weight: 300;
    padding-top: 40px;
}

.card-zapas__contenedor {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 210px);
    grid-template-rows: repeat(auto-fill, 270px);
    align-items: center;
    justify-content: center;
    gap: 15px; 
}

.card-zapas {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 65%;
    max-width: 210px;
    height: 270px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
}

.card-zapas:hover {
    scale: 1.04;
    transition: all .3s;
}

.card-zapas__info {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: space-between;
    gap: 3px;
    padding: 0 5px; 
}

.card-zapas__p {
    color: #000;
    font-weight: 700;
    line-height: 15px;
}

.card-zapas__p-cuotas {
    font-size: 12px;
}

.card-zapas__p-envio {
    background-color: var(--naranja);
    padding: 2px;
    width: 80px;
    font-size: 13px;
    position: absolute;
    align-self: flex-end;
    text-align: center;
}

.t-unico {
    background-color: #F17008 ;
    color: #fff;;
}

.card-zapas__span {
    font-weight: 400;
    font-size: 18px;
}

.card-zapas__img {
    width: 150px;
    position: relative;
    margin-top: 20px;
}

.card-zapas__front {
    display: flex;
    flex-direction: column;
}

.card-zapas__btn {
    width: 75%;
    height: 26px;
    border: none;
    background-color: #6AB234;
    color: #fff;
    padding: 4px;
    transition: all .5s;
    cursor: pointer;
}

.card-zapas__btn:hover {
    background-color: #3DB234;
    scale: 1.1;
}

/* ----------------------------------------------- CLÁSICOS */

/* ----------------------------------------------- NEWIN */

#newin {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    background: var(--bg);
    padding-bottom: 50px;
    margin: auto;
}

.newin__titulo {
    padding-top: 60px;
    margin-bottom: 10px;
    font-size: 40px;
    color: var(--hueso);
    font-weight: 300;
    
}

/* ----------------------------------------------- NEWIN */

/* ----------------------------------------------- PACKS */

#packs {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    background: var(--hueso);
    padding-bottom: 20px;
    margin: auto;
}

.packs__titulo {
    padding-top: 30px;
    margin-bottom: 10px;
    font-size: 40px;
    color: #000;
    font-weight: 300;
}

.packs__contenedor {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background: var(--gris-osc);
    gap: 20px;
}

.packs__contenedor-info {
    background-color: var(--hueso);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    height: 100%;
    padding: 15px;
    gap: 10px;
}

.packs__contenedor-h4 {
    font-size: 20px;
    font-weight: 400;
}

.packs__contenedor-ul {
    color: #000;
    font-size: 17px;
    font-weight: 300;
}

.packs__contenedor-imgs {
    width: 100%;
    display: grid;
    grid-row: repeat(auto-fill, 100px);
    grid-template-columns: repeat(auto-fill, 160px);
    grid-gap: 10px;
    column-gap: 30px;
    justify-content: right;
}

.packs__img {
    width: 180px;
    justify-content: center;
}

.packs-btn {
    border: none;
    font-size: 20px;  
}

.p-c-img2 {
    justify-content: left;
}

.p-c-info2 {
    padding: 10px;
    width: 40%;
    height: 100%;
}

/* ----------------------------------------------- PACKS */

/* ----------------------------------------------- SALE */


#sale {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    background: var(--bg);
    padding-bottom: 50px;
    margin: auto;
}

.sale__titulo {
    padding-top: 60px;
    margin-bottom: 10px;
    font-size: 40px;
    color: var(--hueso);
    font-weight: 300; 
}

/* ----------------------------------------------- SALE */

/* ----------------------------------------------- CONTACTO */

.contacto {
    padding: 0 40px;
    position: relative;
    z-index: 100;
    margin-top: 200px;
    background-color: var(--bg);
    width: 100%;
    max-width: 1400px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    margin: auto;
}

.contacto__h3 {
    font-size: 38px;
    font-weight: 300;
    color: var(--beish);
}

.contactos__contenedor {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.contacto1 {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding-top: 50px;
}

.contacto1__items {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contacto1__items__h3 {
    font-size: 26px;
    font-weight: 300;
    color: var(--hueso-osc);
}

.contact1__items__info {
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.contact1__items__info i {
    font-size: 18px;
}

.contacto1__social i {
    font-size: 35px;
    color: #fff;
}

.contact2 {
    max-width: 300px;
    width: 40%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.contact2__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
    gap: 10px;
}

.contact2__form__input {
    padding: 5px 9px;
    border-radius: 5px;
    max-width: 300px;
    width: 100%;
    height: 36px;
    border: none;
    outline: none;
    background: var(--bg);
    outline: 1px solid rgba(255, 255, 255, .1);
    font-size: 15px;
    color: #fff;
}

.contact2__form__input::placeholder {
    color: rgba(255, 255, 255, .7);
}

.contact2__form__input:last-child {
    width: 100px;
    align-self: center;
    background: #000;
    font-weight: 300;
    font-size: 15px;
    color: #fff;
    align-self: end;
}

/* agregar hover al boton */

/* ----------------------------------------------- CONTACTO */

/* ----------------------------------------------- FOOTER */

.footer {
    position: relative;
    z-index: 100;
    width: 100%;
    max-width: 1400px;
    height: 400px;
    background-color: var(--bg);
    margin: auto;
    padding: 40px;
}

.info__links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.info__links-item {
    display: grid;
    grid-template-rows: 60px repeat(5, 40px);
}

.info__links-item h3 {
    color: var(--beish);
    font-weight: 700;
}

.info__links-item a {
    color: rgba(255, 255, 255, .6)
}

.info__links-item-form {
    display: flex;
    align-items: center;
}

.info__links-item input {
    width: 200px;
    height: 31px;
    padding: 5px 7px;
    border-radius: 10px 0 0 10px;
    outline: none;
    border: none;
}

.info__links-item button {
    border-radius: 0 10px 10px 0;
    height: 31px;   
    padding: 5px 7px;
    border: none;
    outline: none;
    background: var(--beish);
    cursor: pointer;    
}

/* ----------------------------------------------- FOOTER */