@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


:root {
    --bg: #0F1011;
    --bg2: #4C4C46; 
    --hueso: #F1F1CF;
    --hueso-osc: #e6e6a8;
    --perla: #E3E5D2;
    --beish: #E8EEAF;
    --gris-osc: #1f1f1f;
    /* los que no creo usar  */
    --naranja: #ffc300;
    --naranja-osc: #FF5733;
    --rojizo: #C70039;
    --bordo: #C70039;
    --azul: #0734F5;
    --celeste: #076FF5;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    background-color: #000;
    background-image: url(../assets/img/brand10.png);
    background-position: top;
    font-family: "Noto Sans";
}

.login {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(1, 1, 1, .7);
    margin: auto;
    margin-top: 200px;
    border-radius: 15px;
    box-shadow: 0 0 10px #000;
}

.login h1 {
    font-size: 36px;
    font-weight: 700;
    color: var(--beish);
}

.info-contenedor {
    width: 100%;
}

.info {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 14px;
    width: 80%;
}

.info__input {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 7px;
    background-color: rgba(1, 1, 1, 1);
    color:#fff;
    outline: none;
    border-bottom: 1px solid var(--hueso-osc);

}

.info__opciones {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

.info__opciones a {
    color: #fff;
}

.info__opciones a:hover {
    text-decoration: underline;
} 

.submit input {
    width: 140px;
    height: 27px;
    color: var(--beish);
    background-color: #000;
    border-radius: 7px;   
}

.submit input:hover {
    scale: 1.2;
    transition: all .3s;
}

footer {
    width: 400px;
    margin: auto;
    text-align: center;
    margin-top: 40px;
}

footer p {
    color: var(--beish);
    font-weight: 100;
    background-color: rgba(1, 1, 1, 1);
    border-radius: 4px;
}